<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="XAMControl.Common.Base" version="2.4.0" targetFramework="net452" />
  <package id="XAMControl.Common.Trace" version="2.4.0" targetFramework="net452" />
  <package id="XAMControl.XAMCommon" version="2.4.4.12" targetFramework="net452" />
  <package id="XAMControl.XAMIO" version="2.4.4.2" targetFramework="net452" />
  <package id="XAMControl.XAMIO.BACnet" version="2.4.2.1" targetFramework="net452" />
</packages>