################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XAMControlUlux/v15
/Ulux/XAMUmp/obj
*.vspscc
/XAMUmpClient/obj
/bin/Debug
/.vs/XAMControlUlux/v16/.suo
/bin/Release
/.vs
