################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XAMControlUlux/v15
/Ulux/XAMUmp/obj
*.vspscc
/XAMUmpClient/obj
