################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/~$GitHubVSTemp$~/v15/.suo
