<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- WCF Setting -->
  <system.serviceModel>
    <!-- Binding Definitions -->
    <bindings>
      <wsHttpBinding>
        <binding name="XAMRTDB_HttpsBindingConfig" closeTimeout="00:01:00" maxReceivedMessageSize="9965536" openTimeout="00:01:00" sendTimeout="00:01:00" maxBufferPoolSize="26214400">
          <readerQuotas maxDepth="26214400" maxStringContentLength="26214400" maxArrayLength="26214400" maxBytesPerRead="26214400" maxNameTableCharCount="26214400" />
          <!-- Set here the mode to TransportWithMessageCredential or None -->
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="XAMDriver_HttpsBindingConfig" closeTimeout="00:01:00" maxReceivedMessageSize="9965536" openTimeout="00:01:00" sendTimeout="00:01:00" maxBufferPoolSize="26214400">
          <readerQuotas maxDepth="26214400" maxStringContentLength="26214400" maxArrayLength="26214400" maxBytesPerRead="26214400" maxNameTableCharCount="26214400" />
          <!-- Set here the mode to TransportWithMessageCredential or None -->
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="XAMRTDB_HttpBindingConfig" closeTimeout="00:01:00" maxReceivedMessageSize="9965536" openTimeout="00:01:00" sendTimeout="00:01:00" maxBufferPoolSize="26214400">
          <readerQuotas maxDepth="26214400" maxStringContentLength="26214400" maxArrayLength="26214400" maxBytesPerRead="26214400" maxNameTableCharCount="26214400" />
        </binding>
        <binding name="XAMDriver_HttpBindingConfig" closeTimeout="00:01:00" maxReceivedMessageSize="9965536" openTimeout="00:01:00" sendTimeout="00:01:00" maxBufferPoolSize="26214400">
          <readerQuotas maxDepth="26214400" maxStringContentLength="26214400" maxArrayLength="26214400" maxBytesPerRead="26214400" maxNameTableCharCount="26214400" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="XAMRTDB_NetTcpBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="262144000" maxBufferSize="262144000" maxConnections="10" maxReceivedMessageSize="262144000">
          <readerQuotas maxDepth="256" maxStringContentLength="262144000" maxArrayLength="262144000" maxBytesPerRead="262144000" maxNameTableCharCount="262144000" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="XAMDriver_NetTcpBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="262144000" maxBufferSize="262144000" maxConnections="10" maxReceivedMessageSize="262144000">
          <readerQuotas maxDepth="256" maxStringContentLength="262144000" maxArrayLength="262144000" maxBytesPerRead="262144000" maxNameTableCharCount="262144000" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="XAMClientCallback_TcpBindingConfig">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="XAMRTDB_PipeBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="262144000" maxBufferSize="262144000" maxConnections="60" maxReceivedMessageSize="262144000">
          <readerQuotas maxDepth="256" maxStringContentLength="262144000" maxArrayLength="262144000" maxBytesPerRead="262144000" maxNameTableCharCount="262144000" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="XAMDriver_PipeBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="262144000" maxBufferSize="262144000" maxConnections="60" maxReceivedMessageSize="262144000">
          <readerQuotas maxDepth="256" maxStringContentLength="262144000" maxArrayLength="262144000" maxBytesPerRead="262144000" maxNameTableCharCount="262144000" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="XAMClientCallback_PipeBindingConfig">
          <security mode="None" />
        </binding>
        <binding name="BACnetService_PipeConfig">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <!-- Client Endpoints -->
    <client>
      <!-- XAMServer endpoints -->
      <endpoint address="http://localhost:2121/XAMServer" binding="basicHttpBinding" bindingConfiguration="XAMRTDB_HttpBindingConfig" contract="ServiceReference.IXAMRTDB" name="XAMServerHttpEndpoint" />
      <endpoint address="https://localhost:2121/XAMServer" binding="wsHttpBinding" bindingConfiguration="XAMRTDB_HttpsBindingConfig" contract="ServiceReference.IXAMRTDB" name="XAMServerHttpsEndpoint" />
      <endpoint address="net.tcp://localhost:2131/ServerTCPBinding" binding="netTcpBinding" bindingConfiguration="XAMRTDB_NetTcpBindingConfig" contract="ServiceReference.IXAMRTDB" name="XAMServerTCPEndpoint" />
      <endpoint address="net.pipe://localhost/ServerPipeBinding" binding="netNamedPipeBinding" bindingConfiguration="XAMRTDB_PipeBindingConfig" contract="ServiceReference.IXAMRTDB" name="XAMServerPipeEndpoint" />
      <!-- XAMDriver endpoints -->
      <endpoint address="http://localhost:2123/XAMDriver" binding="basicHttpBinding" bindingConfiguration="XAMDriver_HttpBindingConfig" contract="ServiceReferenceDrivers.IXAMDriverFramework" name="XAMDriverHttpEndpoint" />
      <endpoint address="https://localhost:2123/XAMDriver" binding="wsHttpBinding" bindingConfiguration="XAMDriver_HttpsBindingConfig" contract="ServiceReferenceDrivers.IXAMDriverFramework" name="XAMDriverHttpsEndpoint" />
      <endpoint address="net.tcp://localhost:2131/XAMDriver" binding="netTcpBinding" bindingConfiguration="XAMDriver_NetTcpBindingConfig" contract="ServiceReferenceDrivers.IXAMDriverFramework" name="XAMDriverTCPEndpoint" />
      <endpoint address="net.pipe://localhost/PipeBinding" binding="netNamedPipeBinding" bindingConfiguration="XAMDriver_PipeBindingConfig" contract="ServiceReferenceDrivers.IXAMDriverFramework" name="XAMDriverPipeEndpoint" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.diagnostics>
    <sources>
      <source name="XAMUmpClient" switchName="VerboseMode">
        <listeners>
          <!-- Enable or disable your trace listeners here -->
          <remove name="Default" />
          <add name="EventLogListener" />
          <add name="ConsoleListener" />
          <!--<add name="TextFileListener" />-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TextFileListener" type="XAMCommon.Trace.Listeners.XAMTextWriterListener,XAMCommon.Trace" initializeData="C:\\temp\\XAMControl\\Logs\\XAMUmpClient.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
      <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="XAMUmpClient">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
      </add>
      <add name="ConsoleListener" type="XAMCommon.Trace.Listeners.ColoredConsoleTraceListener,XAMCommon.Trace" />
    </sharedListeners>
    <switches>
      <add name="VerboseMode" value="Verbose" />
    </switches>
  </system.diagnostics>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="EventBus" publicKeyToken="ef73db4779b609cd" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
