<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XAMServerHttpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="9965536" maxBufferPoolSize="26214400" maxReceivedMessageSize="9965536">
          <readerQuotas maxDepth="26214400" maxStringContentLength="26214400" maxArrayLength="26214400" maxBytesPerRead="26214400" maxNameTableCharCount="26214400"/>
          <security>
            <transport realm=""/>
          </security>
        </binding>
      </basicHttpBinding>

      <netNamedPipeBinding>
        <binding name="XAMServerHttpEndpointPipe" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="262144000" maxBufferSize="262144000" maxConnections="60" maxReceivedMessageSize="262144000">
          <readerQuotas maxDepth="256" maxStringContentLength="262144000" maxArrayLength="262144000" maxBytesPerRead="262144000" maxNameTableCharCount="262144000"/>
          <security mode="None">
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="XAMServerTCPEndpointBindung" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="262144000" maxBufferSize="262144000" maxConnections="60" maxReceivedMessageSize="262144000">
          <readerQuotas maxDepth="256" maxStringContentLength="262144000" maxArrayLength="262144000" maxBytesPerRead="262144000" maxNameTableCharCount="262144000"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviorMeta">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:2121/XAMServer/meta"/>
        </behavior>
        <behavior name="LargeServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="655360000"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="LargeEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="655360000"/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <client>
      <endpoint address="http://localhost:2121/XAMServer" binding="basicHttpBinding" bindingConfiguration="XAMServerHttpEndpoint" contract="ServiceReference.IXAMRTDB" name="XAMServerHttpEndpoint"/>
      <endpoint address="net.pipe://localhost/ServerPipeBinding" binding="netNamedPipeBinding" bindingConfiguration="XAMServerHttpEndpointPipe" contract="ServiceReference.IXAMRTDB" name="XAMServerPipeEndpoint"/>
      <endpoint address="net.tcp://localhost:2131/ServerTCPBinding" binding="netTcpBinding" bindingConfiguration="XAMServerTCPEndpointBindung" contract="ServiceReference.IXAMRTDB" name="XAMServerTCPEndpoint"/>

    </client>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>

  <system.diagnostics>
    <sources>
      <source name="XAMUmpClient" switchName="VerboseMode">
        <listeners>
          <!-- Enable or disable your trace listeners here -->
          <remove name ="Default" />
          <add name="EventLogListener" />
          <add name="ConsoleListener" />
          <!--<add name="TextFileListener" />-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TextFileListener" type="XAMCommon.Trace.Listeners.XAMTextWriterListener,XAMCommon.Trace"  initializeData="C:\\temp\\XAMControl\\Logs\\XAMUmpClient.log" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener"  initializeData="XAMUmpClient">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
      </add>
      <add name="ConsoleListener" type="XAMCommon.Trace.Listeners.ColoredConsoleTraceListener,XAMCommon.Trace" />
    </sharedListeners>
    <switches>
      <add name="VerboseMode" value="Verbose" />
    </switches>
  </system.diagnostics>
  
</configuration>
